[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.23.5"
opencv-python = "==4.8.1.78"
mediapipe = "==0.10.7"
pandas = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
